@charset "utf-8";

/*--------------------------------------*/
/*              Basic rules             */
/*--------------------------------------*/

:root {
    --app-white: #fff;
    --app-blue: #00549A;
    --app-light-blue:#5490cd;
    --app-background-color: #edf1f5;
    --app-line-border-color: #ddd;
    --app-gray: #f9f9f9;
}

.container {
    width: min(100% - 32px, 960px);
    margin-inline: auto;
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--app-background-color);
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #333333;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}


/*--------------------------------------*/
/*                Header                */
/*--------------------------------------*/

header{
    height: 60px;
    overflow: hidden;
    background-color: var(--app-blue);
    align-items: center;

    
    .logo {
        font-size: 20px;
        color: var(--app-white);
        font-weight: 500;
        letter-spacing: 1.5px;
        padding-top: 15px;
    }

    nav {
        align-items: center;
        display: inline-block;
        padding: 17px 0px 0px 0px ;

        .login {
            font-size: 15px;
            line-height: 15px;
            text-decoration: none;
            font-variant: tabular-nums;
            color: var(--app-white);
            border: 1px solid var(--app-white);
            border-radius: 25px;
            padding: 8px 12px 8px 12px;
        }

        .login:hover {
            color: var(--app-blue);
            background-color: var(--app-white);
            transition: all 0.25s ease-in-out;
        }
        
        .menu {
            font-size: 25px;
            line-height: 30px;
            font-variant: tabular-nums;
            color: var(--app-white);
            padding: 0px 0px 0px 30px;
        }

        .menu:hover {
            color: var(--app-light-blue);
            transition: all 0.25s ease-in-out;
        }

        .icon {
            font-size: 25px;
            line-height: 30px;
            font-variant: tabular-nums;
            color: var(--app-white);
            padding: 0px 15px 0px 0px;
        }

        .icon:hover {
            color: var(--app-light-blue);
            transition: all 0.25s ease-in-out;
        }
    }
}

/*--------------------------------------*/
/*              Hero Banner             */
/*--------------------------------------*/



/*--------------------------------------*/
/*           Product Catalog            */
/*--------------------------------------*/

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 4rem; 
    justify-content: center; 
    align-items: center; 
    align-content: center; 
    height: 100vh; 
}

.product {
    background-color: var(--app-gray);
    padding: 1rem;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.product img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    margin: 0 auto 1rem;
    margin-top: 10px;
}

.view-product {
    background-color: var(--app-blue);
    color: var(--app-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.9;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.view-product:hover {
    opacity: 1;
    transform: scale(1.02);
}

.price {
    color: var(--app-blue);
    font-size: 18px;
    font-weight: 700;
}

/*--------------------------------------*/
/*            Product Section           */
/*--------------------------------------*/



/*--------------------------------------*/
/*                Footer                */
/*--------------------------------------*/